@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
html {
  scroll-behavior: smooth;
   transition-duration: 5000ms;
}
h1,h2,h3,h4,h5,h6,p,span,a,q{
  font-family: 'Varela Round', sans-serif;
}
.menu-logo-box {
    padding-top: 15px;
}
.sidenav-custom {
  height: 90px;
  width: 0;
 position: absolute;
/*    position: fixed;*/
    z-index: 1;
    top: 50%;
        overflow: hidden;
    left: 0;
    background-color: #fff;
    transition: 3s;
      overflow-x: hidden;
            /* box-shadow: 2px 3px 18px #0000002b;*/
   /*   border-top-right-radius: 27px;
    border-bottom-right-radius: 27px;*/
}
img.logo-edique {
    width: 195px;
    margin-right: 15px;
    background: #fff;
    padding: 2.34rem 15px;
    top: -1.3rem;
    position: absolute;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    /* box-shadow:14px 1px 15px #0000001c;*/
}
ul.custom-menu-ul {
    list-style: none;
        display: inline-block;
            margin-bottom: 0;
    padding-top: 18px;
        padding-left: 40px;
}
ul.custom-menu-ul li {
    float: left;
    padding-right: 40px;
}
ul.custom-menu-ul li:last-child{
  padding-right: 0px;
}
.custom-menu {
       position: absolute;
    /*   position: fixed;*/
    z-index: 1;
    top: 50%;
    left: 0;
        cursor: pointer;
}

.custom-menu img {
  width: 195px;
   /* position: absolute;
    top: 22px;*/
}
.logo-custom {
    position: relative;
    float: right;
        top: 9px;
        left: 35px;
            transition: none;
}
.logo-custom img {
    width: 65%;
}

/*Globle one css end*/
.dowwe-col-spectacular img{
  display: none!important;
}
.blue-line-howwe-offering img{
  display: none!important;
}


img.who-icon-whowe {
      position: absolute;
    width: 3%;
    top: 23px;
}
.wepostopn{
 left:47%;
}
.value-postioniocn {
      left: 65%;
}
.far-postioniocn {
    left: 50%;
}
.spect-icon-white {
    left: 18%!important;
    top: 8%!important;
}

.journey-icon-white {
    left: 20%!important;
    top: 3%!important;
}
img.who-icon-full.contact-icon-white {
    left: 17%;
    top: 2%;
    width: 43px;
}
.white-globe-line img.globe-white {
    display: none;
}
.white-globe-line img.globe-white-line {
    display: none;
}
img.who-icon-full-white {
    position: relative;
    width: 40px;
    display: flex;
    top: 7px;
    padding-bottom: 10px;
}
/*Globle one css end*/




span.edique-icon img{
  display: none;
}
.blue-line img{
      display: none;
}
.blue-line-howwe img{
  display: none;
}
img.slider-explore-img {
    left:215px;
    position: absolute;
    top: 22px;
}
.sidenav-custom a {
 /* padding: 8px 8px 8px 32px;*/
  text-decoration: none;
  font-size: 17px;
  color: #1569a6;
  display: block;
text-transform: uppercase;
padding-bottom: 30px;
}

.sidenav-custom a:hover {
  color: #74b444;
}

.sidenav-custom .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left 3s;
  padding: 16px;
      padding-left: 0px;
}

@media screen and (max-height: 450px) {
  .sidenav-custom {padding-top: 15px;}
  .sidenav-custom a {font-size: 18px;}
}


/*.background-img {
    background: url(images/text-slider-background.png);
}
*/
section.testimonial {
    background: #146aa8;
        padding-bottom: 200px;
}
.background-img img {
  /*  width: 50%;*/
  width: 80%;
    position: relative;
    float: right;
}

.text-slider-custom {
    display: block;
    width: 100%;
    position: relative;
    top: 167px;
}
.mySlides q {
    color: #fff;
   font-size: 28px;
   font-style: normal;
}
/* ****************************** CSS Code for Text Slider **********************************/

/* Slideshow container */
.slideshow-container {
    position: relative;
    background: transparent;
    width: 100%;
    margin: 0 auto;
}

/* Slides */
.mySlides {
    padding: 80px;
    padding-top: 15px;
    padding-bottom: 10px;
    width: 48.5%;
    text-align: left;
}




/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
}

/* The dots/bullets/indicators */
.dot-container {
    display: inline-block;
    position: relative;
    left: 22%;
       top: 10px;
}
.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
@media(max-width: 1370px){
  .dot-container {
      left: 25%;
  }
}
/* Add a background color to the active dot/circle */
.active, .dot:hover {
 /* background-color: #717171;*/
 background-color: transparent;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: cornflowerblue;}


p.know-more-down {
    position: absolute;
    left: -255px;
    text-transform: uppercase;
    font-size: 12px;
}
p.know-more-down a{
    color: #fff;
}

span.knowmore-img img {
    width: 20%;
    position: absolute;
    top: 30px;
    left: 0px;
}

/*Section who we are*/
section.who-we-are {
       background: #f5f3f4;
       /*  padding: 30px 0px;
    padding-top: 80px;*/
       padding-top: 30px;
       padding-bottom: 0px;
}
.who-weare {
        padding-top: 30px;
}
.collpase-close-icon-cancle {
    padding-bottom: 50px;
  display: none;
}
.collpase-close-icon-cancle a span {
    color: #156aa8;
    text-transform: uppercase;
    font-size: 18px;
    padding-left: 25px;
}
.collpase-close-icon-cancle a {
    text-decoration: none;
}
.collpase-close-icon-cancle a img {
        width: 35px;
    margin-bottom: 7px;
}
.whoweare-img-left img {
        height: 290px;
        width: 84%;
        float: left;
}
p.whowearetext {
   font-size: 17px;
   padding-top: 20px;
   color: #146aa8;
   font-weight: 400;
   padding: 10px 20px;
 /*  line-height: 28px;*/
   padding-right: 100px;
   position: absolute;
   height: 292px;
   display: flex;
   align-items: center;
   left: -83px;
}
h1.who-term {
     margin-top: 0px;
     font-size: 220px;
     position: relative;
     top: -55px;
     color: #156aa8;
     left: 80px;
     padding-left: 0;
     letter-spacing: inherit;
     margin-bottom: 0;
}

h3.term-we-are {
    margin-top: 0px;
    position: relative;
    top: -90px;
    font-size: 65px;
    padding-left: 236px;
    color: #156aa8;
    letter-spacing: 0px;
}
span.edique-icon img {
    width: 50px;
    padding-left: 10px;

}
.blue-line {
    position: relative;
    top: -92px;
    padding-left: 43.9%;
}
.blue-line img {
    height: 70px;
}
.row.whowe-secound-top {
    position: relative;
        top: -90px;
}
p.whowe-black {
    font-size: 24px;
    padding-top: 20px;
    font-weight: 500;
    color: #000;
}
p.whoweare-blue {
      font-size: 17px;
    padding-top: 0px;
    color: #146aa8;
    font-weight: 400;
  /*  line-height: 28px;*/
    height: 292px;
    display: flex;
    width: 100%;
    padding-left: 144px;
    align-items: center;
    float: right;
    text-align: right;  
}
.whoweare-text-left-secound {
    padding: 0 0px;
}
.whoweare-img-right {
    padding-left: 0px;
}
.whoweare-img-right img {
   /* height: 420px;
    width: 100%;
    object-fit: fill;*/
      /*  height: 350px;
    width: 100%;*/
       height: 290px;
    width: 90%;
    float: right;
}

section.how-dofuction-sec {
    padding: 30px 0px;
    padding-bottom: 80px;
    background: #fff;
}

h1.how-big {
    margin-top: 0px;
    font-size: 190px;
    position: relative;
    color: #156aa8;
    left: 52px;
    margin-bottom: 0;
}
.space-tit-new {
    margin-bottom: 20px!important;
}
h1.how-big.small-ofnt{
    font-size: 170px;
}
h3.term-do-we {
    margin-top: 0px;
    position: relative;
        top: -40px;
    font-size: 65px;
      padding-left:175px;
    color: #156aa8;
    letter-spacing: 0px;
}
.blue-line-howwe {
    position: relative;
    top: -150px;
}
.blue-line-howwe img {
    position: absolute;
       left: 57.5%;
    top: 131%;
    height: 70px;
}
h3.function-text-howe {
    margin-top: 0px;
    position: relative;
    top: 100px;
        font-size: 65px;
        padding-left: 176px;
    color: #156aa8;
    display: inline;
    letter-spacing: 0px;
}
span.edique-icon.position-change img {
    position: relative;
    top: 0px;
         left: 264px;
}
.blue-line-howwe img {
    position: absolute;
        left:57.7%;
    top: 150%;
       height: 70px;
}
.how-we-desc p {
    font-size: 17px;
    color: #146aa8;
    width: 60%;
    margin: 0 auto;
    margin-top: -23px;
    margin-left: 184px;
}
p.desc-para {
    margin-left: 178px;
}
.img-line {
   /* position: absolute;*/
    margin-top: 20px;
} 
.img-line img {
    position: relative;
       left: 230px;
    width: 2px;
    height: 140px;
}

/*flip image css code starts*/

.flip-box {
     background-color: transparent;
    width: 100%;
  /*  height: 620px;*/
  height: 480px;
    border: 0px solid #f1f1f1;
    perspective: 1000px;
   /* margin-left: 26%;*/
}

.flip-box-inner {
  position: relative;
  width: 100%;
  /*height: 100%;*/
  height: 550px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transform-style: preserve-3d;
  -moz-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
}

.flip-box-front {
    background-color: transparent;
    color: black;
}

.flip-box-back {
  background-color: transparent;
  color: white;
  transform: rotateY(180deg);
      -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}
.flip-box-back .flip-img img{
  object-fit: contain;
    width: 100%;
      /*height: 650px;*/
      height: 550px;
    }
.flip-box-front img{
    object-fit: contain;
    width: 100%;
    height: 550px;
    /* height: 100%;*/
}
.after-flip-data {
    position: absolute;
    top: 20px;
       margin-left: 12%;
}
.margin-top-flip-tosecound .after-flip-data {
    top: 50px;
}
.after-flip-data.margin-top-flipppp {
    top: 50px!important;
}
.after-flip-data p {
          width: 85%;
       font-size: 14px;
    text-align: left;
   /* padding-left: 10px;*/
       padding-left: 0px;
    padding-top: 5px;
    line-height:1.5em;
}
.flip-front-text-links {
    position: absolute;
       bottom: 20px;
}
.flip-front-text-links img {
        width: 24px;
    height: auto;
}
.flip-front-text-links h4 {
    color: #fff;
    font-size: 24px;
    padding-bottom: 5px;
        text-transform: capitalize;
}
.margin-top-flip-to {
    margin-top: 40px;
}
.margin-top-flip-tosecound {
    margin-top: 50px;
}
/*.design-margin-left {
    margin-left: 20%;
}*/
.design-margin-right {
    margin-left: 0px;
}
.design-margin-left .after-flip-data {
    padding-left: 5px;
    width: 88%;
}
.design-margin-left .after-flip-data .white-globe-line img.globe-white {
    left: 7px;
}
.after-flip-data.half-img-back {
    /*padding-left: 20px;
    width: 86%;*/
}
.after-flip-data.half-img-back .white-globe-line img.globe-white {
    left: 3px;
}
img.globe-white {
 position: absolute;
    left: 3px;
    width: 36px;
}
img.globe-white-line {
       height: 120px;
    padding-left: 22px;
    display: block;
    margin-top: 0px;
    position: relative;
    padding-top: 56px;
    width: 24px;
}
p.poweredby-text.for-full-area {
    padding-top: 14px;
}
/*flip image code css ends*/
.round-img-function {
      width: 100%;
    height: 300px;
        object-fit: fill;
    border-bottom-left-radius: 118px;
}
.row.function-row {
    padding-top: 40px;
}
.function-boxes {
    margin-bottom: 50px;
}
/*Value proposition flips code starts*/
.front-box {
    background-color: transparent;
    width: 100%;
    height: 620px;
    border: 0px solid #f1f1f1;
    perspective: 1000px;
}
img.img-responsive.value-pro-img {
   /* height: auto;*/
       width: 350px!important;
    /*width: 100%;*/
}
.value-pro-top-text {
    position: absolute;
    top: 0;
    width: 100%;
}
img.plus-icon-values {
    height: auto;
}
.powered-by-and-plus.powerd-by-valuesection {
    width: 100%;
}
/*value propostions flips code ends*/
.rounded-box-border {
  border: 3px solid #1469a7;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 120px;
       width: 70%;
    margin: 0 auto;
}
.for-design-margin-left {
    margin-right: 20px;
}
.for-design-margin-left2 {
    margin-left: 40px;
}
h4.serial-no {
    padding: 50px 0px;
    padding-bottom: 10px;
    font-size: 32px;
    font-weight: 600;
    color: #000;
}
h3.functions-name-in-boxes {
       text-align: center;
    color: #146aa8;
    padding-bottom: 0px;
    line-height: 31px;
    font-size: 24px;
    text-transform: capitalize;
}
.powered-by-and-plus {
    text-align: center;
}
.powered-by-and-plus {
text-align: center;
position: absolute;
bottom: 20px;
display: block!important;
width: 66%;
}
.powered-by-and-plus img {
    width: 30px;
    margin-bottom: 15px;
}
p.poweredby-text {
    color: #fff;
        font-size: 15px;
}
.powered-by-and-plus.powerd-by-valuesection p.poweredby-text {
    display: none;
}
section.howfar-come-along {
    background: #146aa8;
    padding-bottom: 0px;
    padding-top: 30px;
    /* clip-path: polygon(0 0, 100% 0, 100% 93%, 0% 100%);*/
}
h3.function-text-howe span {
    padding-left: 233px;
}
h1.how-big.text-white {
    color: #fff;
}
h3.term-do-we.text-white {
    color: #fff;
        font-size: 65px;
}
h3.function-text-howe.text-white {
    color: #fff;
}
h3.term-do-we.text-white span img {
    margin-left:193px;
}
.blue-line-howwe.imgclassforwhiteline .white-rightafter-text {
    /* position: absolute; */
    left: 59%!important;
    top: 41%;
            width: 2px;
    height: 70px;
}

.row.images-project-footprint {
    position: relative;
    top: -60px;
}
p.how-we-desc {
width: 78%;
    margin: 0 auto;
    padding-right: 189px;
    color: #fff;
    padding-top: 115px;
    font-size: 16px;
    padding-left: 55px;
}

img.img-responsive.below-how-img {
    position: relative;
    left: 21%;
    top: 40px;
    height: 140px;
    display: inline-block;
}
.col-lg-12.col-md-12.no-of-school-popu.techer-spfar {
    margin-bottom: 20px;
}
.acheive-img {
  width: 43%;
    float: left;
    display: flex;
    justify-content: flex-end;
}
.acheive-img.mt-top-img {
   /* margin-top: 40px;*/
   margin-top: 0px;
}
.acheive-counter {
      width: 50%;
    float: right;
    display: flex;
    align-items: center;
     /* height: 335px;*/
        /* height: 195px;*/
            height: 245px;
}
.acheive-img img {
   /* width: 60%;*/
      /* width: 80%;*/
      width: 60%;
}
.height-adjust {
    color: #fff;
    font-size: 35px;
    padding-left: 30px;
}
.height-adjust.padd-left-moddile {
    padding-left: 170px;
}
p.counter-for {
  /*  font-size: 28px;*/
      font-size: 22px;
       text-transform: uppercase;
}
/*p.number-counter {
    font-size: 50px;
}*/
p.number-counter {
    font-size: 48px;
}
.height-adjust p {
    margin-bottom: 0;
 
}
.flip-img.flup-width img {
    object-fit: contain!important;
    height: 580px!important;
}
.acheive-imgleft {
      width: 46%;
    float: right;
}
/*.acheive-imgleft img {
    width: 70%;

}*/
.acheive-imgleft img {
      width: 60%;
}
.acheive-counterright {
    width: 50%;
    float: left;
    display: flex;
    align-items: center;
    /*height: 335px;*/
        height: 275px;
    justify-content: center;
}

section.our-spectular-offering {
    padding: 30px 0px;
    padding-bottom: 70px;    
        background: #f5f3f4;
}
.dowwe-col-spectacular img {
    width: 48px;
    padding-left: 10px;
    position: absolute;
    left: 9%;
    display: inline-block;
        top: -10px;
}
h3.term-spectular {
    margin-top: 0px;
    position: relative;
    top: -15px;
    font-size: 50px;
    padding-left: 183px;
    color: #156aa8;
    display: inline-block;
    letter-spacing: 0px;
    margin-bottom: 0;
}
h3.function-text-howe-ofering {
    margin-top: 0px;
    font-size: 50px;
    padding-left: 182px;
    color: #156aa8;
    display: inline;
    letter-spacing: 0px;
}
h3.term-spectular.get-acc-font {
    font-size: 46px;
}
.blue-line-howwe-offering img {
    display: inline-block;
    position: absolute;
   left: 135px;
      height: 70px;
    top: -3px;
}
.blue-line-howwe-offering {
    padding-bottom: 20px;
}
.how-we-descofering p {
 font-size: 16px;
    color: #146aa8;
    width: 100%;
    margin: 0 auto;
    margin-top: -6px;
 padding-right: 232px!important;
    padding-left: 186px!important;
}

.img-line-offering img {
    width: 3px;
    height: 150px;
    margin-left: 160px;
}
.img-line-offering {
    display: flex;
    justify-content: center;
}
.height-spectulars {
    min-height: 490px;
}
.title-name-box {
    position: absolute;
    bottom: 8%;
    width: 66%;
    text-align: center;
}
.round-img-function-spectular {
    width: 100%;
    height: auto;
    object-fit: fill;
    border-bottom-left-radius: 118px;
}
.title-name-box img {
    width: 30px;
}
.title-name-box h4 {
    color: #fff;
    font-size: 30px;
    padding-bottom: 20px;
}
.blue-line-howwe-offering .for-height-inovation {
  height: 70px;
    width: 2px;
    top: 5px;
}
section.our-journey-innovation {
        padding: 20px 0px;
    padding-top: 30px;
        background: #fff;
}
h2.footer-data.uppercase-text.right-ofce {
    width: 57%;
    float: right;
    line-height: 1.7em;
        margin-top: 9px;
}
h2.footer-data.uppercase-text.left-ofce {
    width: 38%;
    float: left;
    line-height: 1.7em;
    margin-top: 9px;
}



/*Css for slider year wise */
/*.sider-year-wise {
       margin: 0 auto;
    margin-top: 5%;
    width: 90%;
}
.thumbnails {
     display: inline-block;
    flex-direction: column;
    line-height: 0;
    width: 40%;
    float: right;
    list-style: none;
  }
  .thumbnails li {
    flex: auto;
   display: table; 
  }

  .thumbnails a {
    display: block;
  }
.thumbnails img {
       width: 12vmin;
    height: 12vmin;
    object-fit: cover;
    object-position: center;
    border: 5px solid #599742;
    margin: 5px 0px;
}

.slides {
    overflow: hidden;
      width: 60%;
    height: 83vmin;
    float: left;
    list-style: none;
}
  
  .slides li {
     width: 56%;
    height: auto;
    position: absolute;
    z-index: 1;

  }
  
  .slides img {
        height:83vmin;
    object-fit: cover;
    object-position: top;
    width: 100%;
  }

.slides li:target {
  z-index: 3;
  -webkit-animation: slide 1s 1;
}

.slides li:not(:target) {
  -webkit-animation: hidden 1s 1;
}
*/
/*@keyframes slide {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes hidden {
  0% {
    z-index: 2;
  }
  100% {
    z-index: 2;
  }
}*/

/*
a.prev-slider {
    display: inline-block;
    position: static;
    padding-left: 40px;
}

a.prev-slider i {
  font-size: 40px;
  font-weight: 800;
  background: -webkit-linear-gradient(#5b9a42, #7cbb46);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
a.next-slider {
    display: inline-block;
    position: static;
    padding-left: 40px;
}

a.next-slider i {
  font-size: 40px;
  font-weight: 800;
  background: -webkit-linear-gradient(#5b9a42, #7cbb46);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}*/


/*Slider code ends*/

/*Full new custom sider vertical code starts*/
.row.year-green {
  /*  margin: 20px 115px;
        margin-left: 105px;*/
        margin: 20px 115px;
    margin-top: 34px;
    margin-left: 108px;
}
.custom-width-slider {
      /*  width: 55%;*/
          width: 95%;
   /* margin-left: 8%;*/
      /* margin-left: 9%;*/
      margin-left: 0%;
}
.thumbnals-img-slider {
       width: 100%;
    float: left;
    clear: both;
        padding-left: 0px;
} 
.carousel-inner.left-side-big {
       width: 100%;
    float: left;
    clear: both;
   /* height: 450px;*/
     height: 510px!important;
      /*   height: 345px;*/
}
ol.carousel-indicators {
    display: none;
}
.carousel-inner.left-side-big .item img {
    background: #fff;
           height: 510px!important;
}
ul.crousel-thimnail {
    list-style: none;
        height: 500px;
}
ul.crousel-thimnail li {
    margin: 10px 0px;
     width: 90px;
    height: 90px;
        opacity: 0.4;
    cursor: pointer;
        float: left;
    margin: 0px 5px;
}
.prv-nxt-projects {
    display: flex;
    justify-content: center;
}
.prv-nxt-projects li {
    width: 100px!important;
    height: 70px!important;
}
ul.crousel-thimnail li img {
      object-fit: cover;
    height: 100%;
    width: 100%;
    opacity: 1;
}

/*li.blue-border{
  border: 3px solid #0e4c82;
}*/
.active.green-border {
    border: 4px solid #5e9d43;
        opacity: 1;
            border-radius: 5px;
}
.active.orange-border{
  border: 4px solid #f38438;
      opacity: 1;
          border-radius: 5px;
}
.active.blue-border {
    border: 4px solid #156aa8;
        opacity: 1;
            border-radius: 5px;
}
ul.crousel-thimnail {
     list-style: none;
   /* height: 430px;*/
   height: auto;
    padding-top: 10px;
    overflow: hidden;
    padding-left: 0px;
}
/*ul.crousel-thimnail.for-3-height {
    height: 350px;
}*/
a.prev-slider {
    display: inline-block;
    position: relative;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    right: 12px;
    top: 14px;
}

a.prev-slider i {
  font-size: 40px;
  font-weight: 800;
  background: -webkit-linear-gradient(#5b9a42, #7cbb46);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
a.next-slider {
    display: inline-block;
   /* position: static;
    */     position: relative;
    padding-left: 0px;
        bottom: 0px;
        right:-14px;
            top: 14px;
}

a.next-slider i {
  font-size: 40px;
  font-weight: 800;
  background: -webkit-linear-gradient(#5b9a42, #7cbb46);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*ul.crousel-thimnail li.active {
    border: 4px solid #5ddf26;
}*/
/*Full new custom sider vertical code ends*/

.row.year-blue {
  margin: 20px 115px;
    margin-top: 34px;
    margin-left: 108px;
}
.row.year-orange {
 /*   padding: 20px 120px;*/
        margin: 20px 115px;
    margin-top: 34px;
    margin-left: 108px;
}
h3.slider-desc-icon {
    margin-top: 20px;
}
.slider-year-desc p {
font-weight: 500;
    font-size: 13px;
   width: 90%;
    padding-left: 20px;
}
.slider-year-desc {
      padding-top: 10px;
    position: relative;
    top: -80px;
    color: #fff;
         width: 78%;
    padding-left: 20px;
}
h3.slider-desc-icon img {
    width: 30px;
    margin-right: 20px;
}
/*h3.slider-desc-icon span{
    padding-top: 15px;
}*/
h3.slider-desc-icon span {
    font-size: 18px;
}
.green-know {
    color:#305801;
    cursor: pointer;
}
 .blue-know {
    color:#37d0e4;
    cursor: pointer;
}
 .orange-know {
    color: #FFEB3B;
    cursor: pointer;
}
p.year-text {
        margin-bottom: 0px;
   padding-bottom: 0px;
   /*padding-top: 8px;*/
}
p.year-text.blue-text-pad {
    padding-top: 9px;
}
p.year-text.orange-text-pad {
    padding-top: 1px;
}
p.moretext {
    margin-bottom: 0;
}
.visiblediv {
    display: block;
}

.hiddendiv {
    display: none!important;
}
.style-css {
    color: #156aa8;
    font-size: 19px;
    padding-left: 19px;
}
.for-know-more-show {
    display: block;
}
.moretext {
  display: none;
}
i.fa.fa-angle-up.blue-prev-next {
    background: -webkit-linear-gradient(#0c4e84, #427cac);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
i.fa.fa-angle-down.blue-prev-next {
    background: -webkit-linear-gradient(#0c4e84, #427cac);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h3.slider-desc-icon {
   /* padding-left: 2.5%;
    margin-top: 50px;*/
    padding-left: 5%;
    margin-top: 20px;

}
h3.slider-desc-icon a {
    text-decoration: none;
}
i.fa.fa-angle-left.orange-prev-next {
    background: -webkit-linear-gradient(#f04d41, #f8a829);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
i.fa.fa-angle-right.orange-prev-next {
    background: -webkit-linear-gradient(#f04d41, #f8a829);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/*Let acquainted css starts*/
section.lets-acquainted {
    background: #f5f3f4;
    padding: 50px 0px;
    padding-bottom: 60px;
}
span.iocn-blue-lets img {
    width: 13px;
        height: 70px;
        position: relative;
}
span.iocn-blue-lets {
    position: absolute;
    left: 110px;
    top: 75px;
}
.lets-acquainted-img {
   /* display: flex;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 100px;
    width: 80%;*/
    position: absolute;
    width: 40%;
    right: 0px;
}
.lets-acquainted-img img {
        width: 43%;
        margin-left: 5%;
}
.contact-us-form {
    padding-top: 100px;
}
.contact-form-left .form-group .form-control {
    background: #146aa9;
       color: #fff;
    border-radius: 22px;
    padding-left: 25px;
        font-size: 17px;
            font-family: 'Varela Round', sans-serif;
    padding-top: 5px;
        height: 38px;
}
.contact-form-left .form-group {
    margin-bottom: 25px!important;
}
.contact-form-left .form-group:last-child{
    margin-bottom: 0!important;
}
.contact-form-left .form-group .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}

.contact-form-left .form-group .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
}

.contact-form-left .form-group .form-control::-ms-input-placeholder { /* Microsoft Edge */
  color: #fff;
}

.contact-form-left .form-group textarea {
    padding-top: 12px!important; 
    height: 291px!important;
}
.captcha-custom {
    padding: 22px 15px;
       padding-top: 20px;
           padding-bottom: 10px;
}
.col-lg-5.refresh-digit {
    text-align: right;
    float: right;
}
ul.captcha-two {
    list-style: none;
    display: flex;
    padding-left: 10px;
    margin-bottom: 0px;
        height: 70px;
}
ul.captcha-two li {
    width: 30%;
}
ul.captcha-two li i {
    font-size: 30px;
    margin-right: 15px;
    background: -webkit-linear-gradient(#5b9a42, #7cbb46);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
ul.captcha-two li span {
    font-size: 25px;
    letter-spacing: 5px;
}
ul.captcha-two li .form-group .form-control {
   background: #146aa9;
    color: #fff;
    border-radius: 30px;
    padding-left: 20px;
    width: 70%;
        float: right;
   font-size: 17px;
    margin-left: 15px;
    font-family: 'Varela Round', sans-serif;
}
.form-group.capctic-input-here1 input {
    background: #146aa9;
    color: #fff;
    border-radius: 19px;
    padding-left: 20px;
    width: 70%;
    float: left;
    font-size: 17px;
    margin-top: 2px;
    margin-left: 2px;
    font-family: 'Varela Round', sans-serif;
}
ul.captcha-two li .form-group .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}

ul.captcha-two li .form-group .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
}

ul.captcha-two li .form-group .form-control::-ms-input-placeholder { /* Microsoft Edge */
  color: #fff;
}
.form-group.capctic-input-here1 input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}
.form-group.capctic-input-here1 input:-ms-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}
.form-group.capctic-input-here1 input::-ms-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
.form-group i.fa.fa-angle-down {
    position: absolute;
    right: 40px;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    padding-top: 6px;
}
.form-group select {
    cursor: pointer;
}

button.btn.btn-custom.btn-success {
    background: #7fc245;
    border-color: #7fc245;
       padding: 7px 50px;
    font-size: 19px;
    padding-top: 8px;
    border-radius: 25px;
    margin-left: 10px;
        outline: none;
            font-family: 'Varela Round', sans-serif;
}
button.btn.btn-custom.btn-success:hover {
    background: #6a9f3c;
}
.digit-new {
    font-size: 24px;
    letter-spacing: 3px;
}
.refresh-digit i {
    font-size: 26px;
    margin-right: 15px;
    background: -webkit-linear-gradient(#5b9a42, #7cbb46);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
section.footer-box {
      background: #fff;
    padding: 50px 0px;
        padding-bottom: 10px;
}
.row.third-row-footer.channels-edique {
    padding-top: 50px;
}
.row.secound-row-footer {
    padding: 10px 0px;
    padding-bottom: 0;
}
h5.foot-small-tit {
      text-transform: uppercase;
    font-size: 18px;
    padding-bottom: 0px;
    font-weight: 600;
}
h2.footer-data {
    color: #737373;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.5em;
}
.uppercase-text {
  text-transform: capitalize;
}
.uppercase-text span {
    text-transform: initial;
}
.inner-box {
    margin-bottom: 40px;
}
h5.foot-small-tit a {
    color: #212529;
    text-decoration: none;
}
h5.copy-message {
    font-size: 13px;
    text-align: center;
    line-height: 20px;

}
.our-channel-text h2 {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 8px;
}
.social-icons img {
    width: 32px;
    margin-right: 44px;
}
.social-icons img:last-child {
    margin-right: 0px;
}
.social-icons a {
    text-decoration: none;
    padding-right: 15px;
}
.pos-icon-plus-cont {
    position: relative;
    left: 17%;
}
.pos-icon-plus-pri {
    position: relative;
    left: 16%;
}
.pos-icon-plus-cond {
    position: relative;
    left: 24%;
}
.row.third-row-footer.footer-links-last {
    padding-top: 50px;
}
ul.links-footeers {
   list-style: none;
    display: flex;
    width: 100%;
    padding-left: 15px;
    margin: auto;
}
ul.links-footeers li {
 width: 100%;
 padding-right: 70px;
}
.chanel-icons a img {
    width: 30px;
    float: left;
    margin-left: 0;
    margin-right: 10px;
}
ul.links-footeers li a {
    text-decoration: none;
           border-right: 1px solid #41414157;
    display: block;
}
ul.links-footeers li a.last-child-border{
  border-right: 0px;

}
.copyright-message {
        padding-left: 10px;
}
.chanel-icons h3 {
    color: #737373;
    font-size: 20px;
    margin-bottom: 15px;
}
ul.links-footeers li a h3 {
      color: #737373;
      font-size: 20px;
      margin-bottom: 15px;
      position: relative;
      left: -18px;
}
ul.links-footeers li a i{
   font-size: 30px;
    font-weight: 500;
}
 .green-plus {
    background: -webkit-linear-gradient(#5b9a42, #7cbb46);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.blue-plus {
    background: -webkit-linear-gradient(#0c4e84, #427cac);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.orange-plus {
    background: -webkit-linear-gradient(#f04d41, #f8a829);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

ul.links-last-foot {
    display: flex;
    list-style: none;
    justify-content: center;
        padding-left: 0px;
}
ul.links-last-foot li {
    width: 25%;
    border-right: 1px solid #ddd;
        position: relative;
    left: -80px;
}
li.last-child-border {
    border-right: 0px!important;
}
ul.links-last-foot li a{
  text-decoration: none;
}
ul.links-last-foot li h3 {
    text-align: center;
    text-transform: capitalize;
    color: #737373;
    font-size: 20px;
        margin-top: 0;
}
ul.links-last-foot li .orange-plus {
    display: block;
    text-align: center;
    width: 68%;
        font-size: 34px;
}
ul.links-last-foot li .blue-plus {
    display: block;
    text-align: center;
    width: 68%;
        font-size: 34px;
}
ul.links-last-foot li .green-plus {
       display: inline-block;
    text-align: center;
    width: 48%;
        font-size: 34px;
}
.chan-center {
    display: flex;
    justify-content: center;
    margin-left: 6px;
    margin-top: -6px;
}
strong.after-submit {
    font-size: 16px;
  font-family: 'Varela Round', sans-serif;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield!important;
}
@media(min-width: 1900px){
  img.logo-edique{
      top: -1.3rem;
}
.custom-menu img {
    width: 198px!important;
}
}
@media(max-width: 1440px){
  img.logo-edique {
      top: -1.233rem;
   padding-bottom: 2.3rem;
}
}
@media(max-width:1370px){
  img.logo-edique{
      padding: 2.35rem 15px;
    top: -13px;
  }
}
@media(max-width:1024px){
  h1.who-term{
    left: 50px;
  }
  .round-img-function-spectular{
        border-top-right-radius: 78px;
  }
}

/*@media screen and (max-height: 722px){
.sidenav-custom{
  position:fixed!important;
  top: 10%;
}
.custom-menu {
  position: fixed!important;
  top: 10%;
}
}*/


 #stickytypeheader {
        width: 100%;
        height: 20px;
        transition-delay: 1s;
            z-index: 111111!important;
    }
    #sticky {
      display: none;
      height: 20px;
       transition-delay: 1s;
    }
input#submit {
    background: #7fc245;
    border-color: #7fc245;
    padding: 7px 50px;
    font-size: 19px;
    padding-top: 8px;
    border-radius: 25px;
    margin-left: 10px;
    outline: none;
    font-family: 'Varela Round', sans-serif;
        margin-top: 14px;
}
.col-lg-12.btn-submit-form1 {
    margin-top: 14px;
}
/* css added by Neha */
#top {
  height: 20px;
  width: 100%;
}
/* CSS added by neha 27-01-21 */
 .spanError{
    color: red;
        position: absolute;
}
/*#submit{
    background: #7fc245;
    border-color: #7fc245;
    padding: 7px 50px;
    font-size: 19px;
    padding-top: 8px;
    border-radius: 25px;
    margin-left: 10px;
    outline: none;
    font-family: 'Varela Round', sans-serif;
} */
/* End block of CSS added by neha 27-01-21  */

#head {
  width: 100%;
  height: 50px;
  background-color:gray;
}

.sticky {
  position: fixed;
  top: 0;
}

.maindivcss{
  margin-left:50%;
  /*margin-top: 13px;*/
}
.sidenavdivcss {
    width: 50%;

   /* position: absolute;
    top: -3px;*/
}
/*.contact-form-left .form-group .form-control::after {
  content:"â–¼";
  font-size:0.5em;
  font-family:arial;
  position:absolute;
  top:50%;
  right:5px;
  transform:translate(0, -50%);
}*/

select.form-control.addedicon {
    background: url(https://edique.in/assets/images/select-icon.png) #146aa9!important;
    background-size: 100% 100%!important;
    background-position: top!important;
}
/*select.form-control.addedicon:before {
    content: "\f000";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;

    color: #000;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 10px;
    left: 0;

}*/
.vert-move img {
    -webkit-animation: mover 3s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
.vert-move img {
    -webkit-animation: mover 3s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(20px); }
}


/*#stickytypeheader {
 animation: mymove 1s infinite;
}*/

.form-group.capctic-input-here {
    position: relative;
    left: 59%;
    top: -36px;
}
span#cap_error {
   position: absolute;
    padding-left: 0;
    left: -40px;
    top: 5px;

}
i#check {
    text-align: right;
}
#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer!important;
    width:50px;
    height:50px;
    background-color:#156aa8;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
     cursor:pointer!important;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color:#0c0ca1;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}

select {
-webkit-appearance: block;
-webkit-border-radius:0; 
border-radius:0; 
}






/*how far come along css start*/
.far-along-img-box .far-img img {
    width: 50%;
    margin: 0 auto;
        height: 164px;
}
.far-text h4 {
    color: #fff;
    font-size: 38px;
}
.far-text {
    text-align: center;
}
.far-img {
    padding-bottom: 20px;
}
.far-text p {
    color: #fff;
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
}
i.fa.fa-angle-left.blue-prev-next {
    background: -webkit-linear-gradient(#156aa8, #7fadce);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
i.fa.fa-angle-right.blue-prev-next{
   background: -webkit-linear-gradient(#156aa8, #7fadce);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/*how far come along css end*/

/*next-prev slidr code start*/
/* Next & previous buttons */
.prev-slider-next {
    position: relative;
   /* top: 220px;*/
    top: 265px;
}
.prev, .next {
  cursor: pointer;
  /*position: absolute!important;*/
   position: relative;
 /* top: 50%;*/
     top: 320px;
  width: auto;
padding: 8px 10px;
  margin-top: -22px;
  color: #000;
  font-weight: bold;
     opacity: 0.3;
    font-size: 38px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-decoration: none!important;
}

/* Position the "next button" to the right */
.next {
      /* right: -18px;*/
        left: 90%;
  border-radius: 3px 0 0 3px;
}
.prev {
    left: -70px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: transparent;
        color: #00000091;
    opacity: 1;
}

.font-small-cion {
  font-size: 25px!important;
    position: relative;
    top: -5px;
}
/*.item img {
    width: 867px!important;
    height: 448px!important;
}
.item {
    width: 865px!important;
    height: 448px!important;
}*/
/*.slider-scroll-item-toggle {
  left: 0 ;
}*/
.prev-slider-nex.sliderMObHide {
    position: relative!important;
    top: 310px!important;
}
a#Ninteen {
    left: 76%;
}
.carousel-inner>.item.active, .carousel-inner>.item.next.left, .carousel-inner>.item.prev.right {
   /*  -webkit-transform: translate3d(0,0,0); 
     transform: translate3d(0,0,0); */
    right: 0!important;
    bottom: 0!important

}
/*.carousel-inner {
  height: 100%;
}*/
@media not all, (-webkit-transform-3d){
.carousel-inner>.item {
    -webkit-transition: -webkit-transform 0.002s ease-in-out!important;
    -o-transition: -o-transform 0.002s ease-in-out!important;
    transition: -webkit-transform 0.002s ease-in-out!important;
    transition: transform 0.002s ease-in-out!important;
    transition: transform 0.002s ease-in-out,-webkit-transform 0.002s ease-in-out,-o-transform 0.002s ease-in-out!important;
    -webkit-backface-visibility: hidden!important;
    backface-visibility: hidden!important;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    transform-style: preserve-3d;
      animation-fill-mode: forwards;
          animation-duration: 80000s!important;
    animation-delay: 2s!important;

    /* -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  bottom: 0px;*/
}
}
@media not all, (-webkit-transform-3d){
  .carousel-inner>.item.active, .carousel-inner>.item.next.left, .carousel-inner>.item.prev.right{
      transform-style: preserve-3d!important;
        animation-fill-mode: forwards;
            animation-duration: 80000s!important;
    animation-delay: 200s!important;
}
}

/*
li.blue-border.active:last-child a#next-icon{
  visibility: hidden!important;
}*/

/*li.blue-border {
    cursor: no-drop!important;
}
li.orange-border {
    cursor: no-drop!important;
}
li.green-border {
    cursor: no-drop!important;
}*/
/*.disabled{
    pointer-events:none;
    opacity:0.7;
}*/
li.blue-border {
    cursor: no-drop!important;
}
li.orange-border {
    cursor: no-drop!important;
}
li.green-border {
    cursor: no-drop!important;
}
.forMobPrev.active {
    color: #000;
    opacity: 1;
       /* font-size: 28px!important;*/
}


img.who-icon-full.get {
    top: 2px;
    width: 10%;
}
/* *************************************** New Responsive **********************************/
@media(max-width:426px){
  .row.whowe-secound-top {
    position: relative!important;
    top: -140px!important;
}

.row.whowe-secound-top p.whoweare-blue {
    text-align: left!important;
    width: 100%!important;
    padding-right: 60px!important;
    padding-top: 26px;
}
div#whoweareSection h3.term-we-are.font-size-who {
    font-size: 44px!important;
}
div#whoweareSection span.edique-icon img {
    width: 44px!important;
    position: relative!important;
    left: 58px!important;
}
div#whoweareSection .blue-line {
    top: -130px!important;
    right: 42px;
}
div#whoweareSection h1.who-term {
    margin-bottom: 20px!important;
}
/*section.who-we-are .container {
    height: 182vh;
}*/
section.who-we-are .container {
   /* height: 166vh;*/
       height: auto;
}
}
@media(max-width: 376px){
  .counter-for {
    font-size: 20px!important;
}
section.how-dofuction-sec .row {
    position: relative!important;
    top: -55px!important;
}
.margin-top-flip-tosecound {
    margin-top: 00px;
}
div#whoweareSection .blue-line {
    top: -119px!important;
  }
  div#whoweareSection h1.who-term {
    margin-bottom: 0!important;
}
.flip-img.flup-width img {
    height: 510px!important;
  }

}
@media(max-width:360px){
 /* section.who-we-are{
    height: 185vh;
  }*/
  section.who-we-are {
    height: 160vh;
}
  .whoweare-text-left-secound {
    position: relative;
    top: -22px;
}
.flip-img.flup-width img {
    height: 510px!important;
  }
div#whoweareSection h1.who-term {
    margin-bottom: 0;
}
div#whoweareSection .blue-line img {
    padding-left: 4px!important;
    margin-top: 14px!important;
}
.row.whowe-secound-top p.whoweare-blue {
   padding-top: 46px;
  }
section.how-dofuction-sec {
    padding-top: 48px!important;
}
section.how-dofuction-sec .how-tit-big {
    position: relative;
    top: -30px;
    margin-bottom: 0px;
}
section.how-dofuction-sec .how-tit-big h1.how-big.space-tit-new {
    margin-bottom: 0px!important;
}
.row.function-row {
    padding-top: 45px;
}
img.img-flip-width {
    width: 93%!important;
}
.after-flip-data.back-text-mob.shaping-width {
    margin-left: 25px!important;
}
img.globe-white.new-space {
    left: 1px;
}
.after-flip-data.back-text-mob.delivery-space {
    margin-left: 15px;
}
.font-change{
  font-size: 44px;
}
h3.term-we-are {
    font-size: 44px;
}
.font-size-who{
  font-size: 44px!important;
}
.font-size-who span.edique-icon img {
    width: 44px!important;
    position: relative;
    left: 58px;
}
.wecome-desc {
    padding-top: 148px!important;
}
p.number-counter {
    font-size: 26px!important;
        font-weight: 600;
}
p.counter-for {
    font-size: 18px!important;
}
input#submit {
    padding: 3px 26px;
    font-size: 16px;
    padding-top: 4px;
   }
   .spect-back-img-text {
    margin-left: 30px;
}
.spect-back-img-text1 {
    margin-left: 25px!important;
}
.after-flip-data.back-text-mob.sustain-space {
    padding-left: 13px;
}
img.globe-white.sus-globe {
    left: 14px;
}
img.globe-white-line{
      padding-top: 46px;
}
img.globe-white{
      width: 33px;
}
.flip-box-front img {
    object-fit: fill;
  }
  .back-480 .white-globe-line img.globe-white-line {
    top: 1px;
}
span.farhave-text {
    position: relative;
    top: 7px;
}
.space-tit-new.margin-howfa {
    margin-bottom: 0px!important;
}
div#whoweareSection h1.who-term {
    margin-bottom: 0!important;
}
.tio-space {
    margin-top: -8px!important;
    margin-bottom: 0px!important;
}
ul.links-last-foot li{
  margin-bottom: 10px;
}
.get-line {
    top: -6px!important;
}
section.who-we-are {
    /*height: 178vh;*/
   height: 100%;
}
.row.whowe-secound-top p.whoweare-blue {
    padding-top: 0;
}

}

@media(max-width:480px){
  div#productSection .flip-box-front img {
    width: 100%;
    height: 490px;
    object-fit: fill;
}
p.counter-for {
    font-size: 19px!important;
}
.form-group.capctic-input-here1 input {
    width: 60%!important;
}
.mobile-cion-hide-resphide{
  display: none!important;

}
}




@media(max-width:321px){
  section.lets-acquainted .how-tit-big h1.how-big.small-ofnt {
    font-size: 128px!important;
}

}

@media(max-width:426px){
  .col-lg-6.captcha-custom.custom-cuaptchnew {
    margin-top: 20px!important;
}
.form-group.capctic-input-here1 {
    position: absolute;
}
.form-group.capctic-input-here1 input{
  border-radius: 20px;
}
.col-lg-12.btn-submit-form1 {
    margin-top: 50px;
}
.form-group.capctic-input-here1 {
       position: absolute;
    width: 74%;
    left: 16px;
    top: 5px;
}

}
/*@media(min-height:37 )
section.who-we-are .container {
    min-height: 145vh;
}*/

@media(max-width:416px){
  section.who-we-are .container {
    height: 166vh;
  }
}
@media(min-height:800px){
  section.who-we-are .container{
  height: calc(var(--vh, 2vh) * 65);
}
}