@media(min-width:426px){
	img.who-icon-full {
    display: none!important;
}
.who-icon-full-backblue{
	display: none!important;
}
}


@media(max-width:1024px){
	ul.custom-menu-ul{
		padding-left: 10px;
	}
	ul.custom-menu-ul li {
    padding-right: 13px;
	}
	.sidenav-custom a{
		    font-size: 16px;
	}
	img.logo-edique {
	    width: 165px;
	}
	.sidenav-custom {
	    height: 82px;
	}
	img.slider-explore-img {
    left: 175px;
	}
	.text-slider-custom{
		    top: 140px;
	}
	.mySlides{
		    width: 85%;
	}
	.dot-container {
	    left: 32%;
	}
	.blue-line{
		    padding-left: 59.3%;
	}
	.blue-line-howwe img {
	    left: 69.4%;
	}
	.value-pro-top-text {
	    top: 30px;
	}
	.powered-by-and-plus{
		    bottom: 60px;
	}
	.after-flip-data {
	    top: 70px;
	}
	.after-flip-data p {
 	   font-size: 16px;
 	   line-height: 1.5em;
	}
	h1.how-big {
    	font-size: 300px;
    	left: 0px;
    	padding-left: 52px;
	}
	h1.who-term{
		left: 0px;
		padding-left: 52px;
	}
	h3.function-text-howe{
		    padding-left: 150px;
	}
	h3.term-do-we{
		    padding-left: 150px;
	}
	.blue-line-howwe.imgclassforwhiteline .white-rightafter-text{
		       left: 84%;
	}
	img.img-responsive.below-how-img {
	    left: 16%;
	        top: 20px;
	}
	.how-we-desc p {
	    width: 67%;
	}
	.img-line img {
    	left: 156px;
	}
	img.globe-white-line {
	    height: 105px;
	}
	p.how-we-desc {
    	width: 91%;
	}
	.dowwe-col-spectacular img{
		    left: 11%;
	}
	.how-we-descofering p{
		    padding-right: 190px;
	}
	.flip-front-text-links{
		width: 100%;
	}
	.flip-front-text-links h4 {
	    font-size: 26px;
	}
	.flip-front-text-links {
	    bottom: 40px;
	}
	img.globe-white-line{
		    margin-top: 0;
	}
	.after-flip-data p{
		padding-top: 10px;
	}
	.slider-year-desc {
	    background: #fff;
	}
	ul.captcha-two{
		    padding-top: 40px;
	}
	ul.links-footeers li {
	    padding-right: 80px;
	}
}


@media(max-width:992px){
	h1.who-term {
    font-size: 26rem;
    top: -50px;
    letter-spacing: 11px;
    }
    .mySlides {
	    padding-left: 55px;
	}
	h3.term-we-are {
    	top: -115px;
	}
	.blue-line {
	    padding-left: 77%;
	    top: -130px;
	}
	p.whowearetext{
		    padding-bottom: 40px;
	}
	.whoweare-text-left-secound {
	    padding-left: 0px;
	}
	p.whoweare-blue {
		padding-bottom: 30px;
	}
	section.who-we-are {
	    padding: 0px 0px;
	}
	section.how-dofuction-sec {
	    padding: 20px 0px;
	}
	h1.how-big {
	    padding-left: 0px;
	}
	h3.function-text-howe {
	      padding-left: 104px;
	}
	.blue-line-howwe img {
	    left: 83.5%;
	}
	h3.term-do-we {
	    padding-left: 102px;
	}
	.img-line img {
	    left: 115px;
	}
	.design-margin-left {
	    margin-left: 0%;
	}
	.design-margin-left .after-flip-data {
	    padding-left: 75px;
	    width: 80%;
	}
	.after-flip-data {
	    top: 30px;
	}
	.after-flip-data p{
		    width: 85%;
	}
	.after-flip-data.half-img-back p{
		width: 100%;
	}
	.design-margin-left .after-flip-data .white-globe-line img.globe-white {
	    left: 78px;
	}
	.after-flip-data.half-img-back .white-globe-line img.globe-white {
	    left: 22px;
	}
	.after-flip-data.half-img-back {
	    padding-left: 80px;
	    width: 66%;
	}
	.after-flip-data.half-img-back .white-globe-line img.globe-white {
	    left: 82px;
	}
	h3.term-do-we.text-white span img {
	    margin-left: 0;
	    position: absolute;
	    left: 94%;
	    top: 15px;
	}
	.blue-line-howwe.imgclassforwhiteline .white-rightafter-text {
	    left: 97%;
	}
	p.how-we-desc {
	    padding-right: 30px;
	    padding-left: 75px;
	}
	img.img-responsive.below-how-img {
    	left: 14%;
    	    top: 60px;
	}
	.col-lg-12.col-md-12.no-of-school-popu {
	    height: 335px;
	}
	.acheive-counterright{
		    height: 245px;
	}
	.acheive-counter {
	    height: 245px;
	}
	section.howfar-come-along{
		padding-bottom: 20px;
	}
	.col-lg-12.how-tit-big {
	    margin-bottom: 40px;
	}
	.dowwe-col-spectacular img {
	    left: 14%;
	}
	.how-we-descofering p {
	    padding-right: 30px;
	}
	.img-line-offering img{
		margin-left: 450px;
	}
	.after-flip-data.spectuka-mob {
	    margin-left: 19%;
	    width: 76%;
	}
	section.our-journey-innovation .how-we-descofering p {
	    padding-left: 70px;
	}
	ul.crousel-thimnail{
		    padding-top: 0;
	}
	ul.crousel-thimnail li {
	    width: 70px;
	    height: 70px;
	}
	.contact-form-left .form-group textarea {
	    margin-top: 25px;
	}
	.captcha-custom {
	    padding-top: 0px;
	    padding-bottom: 0;
	}

	.col-lg-5.col-md-5.three-block {
	    width: 50%;
	    float: left;
	    margin-bottom: 60px;
	}
	.our-channel-text h2{
		    margin-bottom: 20px;
	}
	ul.links-footeers{
		width: 100%;
	}

}

@media(max-width: 768px){
	.sidenav-custom{
		top: 30%;
	}
	.sidenav-custom {
	    height: 300px;
	    border-bottom-right-radius: 35px;
	}
	
	ul.custom-menu-ul {
	    padding-left: 50px;
	    width: 100%;
	}
	ul.custom-menu-ul li{
		clear: both;
	}
	.custom-menu{
		top: 32%;
	}
	.mySlides q {
	    font-size: 36px;
	}
	.dot-container {
	    left: 40%;
	}

}
@media(max-width: 480px){
	/*background: transparent;  make scrollbar transparent 
	}*/
	.mobile-cion-hide-resp {
	    display: none;
	}
	img.who-icon-full-backblue {
    position: relative;
    top: -3px;
    width: 12%;
    left: -139px;
}
	h1.how-big {
    	font-size: 220px;
	}
	.mySlides {
	    width: 100%;
	    padding: 30px;
	}
	.text-slider-custom {
      top: 60px;
	}
	.dot-container {
	    left: 60%;
	    top: 0;
	}
	h1.who-term {
	    font-size: 17rem;
	    top: -30px;
	    letter-spacing: 14px;
	    padding-left: 32px;
	        letter-spacing: 4px;
	}
	h3.term-we-are {
	    top: -57px;
       	font-size: 71px;
	    padding-left: 71px;
	    padding-bottom: 70px;
	}
	.blue-line {
    	padding-left: 78%;
	}
	.whoweare-text-left-secound {
	    padding-left: 50px;
	}
	section.landing-banner {
	    height: 45vh!important;
	}
	.sidenav-custom {
	    /* top: 2%;
	    width: 34%;*/
	    border-top-right-radius: 35px;
	}
	img.logo-edique {
	    width: 125px;
	    padding: 1.8rem 15px;
	}
	p.whoweare-blue{
		padding-left: 0px;
		    padding-right: 30px;
		    height: auto;
	}
	ul.custom-menu-ul {
		    padding-left: 20px;
	}
	img.slider-explore-img {
	  /* display: inline-block!important;*/
	  display: none;
	}
	img.slider-explore-img-mob {
	   display: inline-block!important;
	    width: 30px;
	    position: absolute;
	    left: 135px;
	    top: 8px;
	}
	.custom-menu {
	    top: 22%;
	}
	.slider-explore-img.mob-hide {
	    display: none!important;
	}
	.mySlides{
		    padding-top: 0;
	}
	.mySlides q {
	      font-size: 23px
	}
	.testimonial {
	    height: 70vh!important;
	}
	.whoweare-img-right {
	    padding-left: 15px;
	}
	.whoweare-img-left img {
	    height: auto;
	        width: 100%;
	}
	.whoweare-img-right img {
	    height: auto;
		width: 100%!important;
	}
	p.whowearetext{
		    width: 100%;
		    padding-top:40px;
		    height: auto;
	}

	.function-boxes {
	    /*margin-bottom: 0px;*/
	    margin-bottom: 30px;
	}
	h1.how-big {
	    font-size: 17rem;
	}
	h3.term-do-we {
	    padding-left: 52px;
	    font-size: 66px;
	}
	h3.function-text-howe {
	    padding-left: 60px;
	    font-size: 48px;
	    letter-spacing: 3px;
	}
	h3.term-do-we {
	    padding-left: 52px;
	    font-size: 48px;
	    letter-spacing: 3px;
	}
	.blue-line-howwe {
	    top: -142px;
	}
	span.edique-icon.position-change img {
	    left: 147px;
	}
	.blue-line-howwe img {
	    top: 140%;
	        height: 110px;
	}
	.how-we-desc p{
		 margin-top: 0;
		     width: 90%;
		         margin-left: 60px;
	}
	.img-line img {
	    left: 75px;
	        display: none;
	}
	section.howfar-come-along {
	    padding-top: 40px;
	}
	/*.design-margin-left {
	   margin-left: 20px;
	}
	.design-margin-right {
	   margin-left: 20px;
	}*/
	.design-margin-left .after-flip-data {
	    padding-left: 7px;
	    width: 90%;
	}
	.after-flip-data {
	    top: 70px;
	}
	.design-margin-left .after-flip-data .white-globe-line img.globe-white {
	    left: 8px;
	}
	.after-flip-data.half-img-back {
	    padding-left: 20px;
	    width: 80%;
	}
	.after-flip-data.half-img-back .white-globe-line img.globe-white {
	    left: 24px;
	}
	/*.flip-box-back .flip-img img{
		    height: auto;
	}*/
	h3.term-do-we.text-white {
	    font-size: 48px;
	      padding-left: 46px;
	          letter-spacing: 1px;
	}
	section.howfar-come-along h3.function-text-howe {
	    padding-left: 40px;
	}
	section.howfar-come-along h3.function-text-howe.text-white {
	     padding-left: 50px;
    	letter-spacing: 2px;
	}
	section.howfar-come-along span.edique-icon img {
	    width: 45px;
	    left: 90%;
	}
	.blue-line-howwe.imgclassforwhiteline .white-rightafter-text {
	       left: 94%;
		    height: 60px;
		    top: 34%;
		    left: 94%!important;
	}
	section.howfar-come-along p.how-we-desc {
	    padding-right: 10px;
	    padding-left: 36px;
	    padding-top: 130px;
	}

	.acheive-counter {
	    height: 150px;
	}
	section.howfar-come-along .white-edique-line {
	    display: none;
	}
	p.number-counter {
	    font-size: 30px;
	}
	.acheive-counterright {
	    height: 150px;
	    margin-top: 30px;
	}
	.col-lg-12.col-md-12.no-of-school-popu.techer-spfar {
	    margin-top: -30px;
	}
	.col-lg-12.col-md-12.no-of-school-popu {
	    height: 245px;
	}
	.acheive-imgleft img {
	    width: 100%;
	}
	.acheive-img img {
        width: 100%;
	}
	section.our-spectular-offering .how-tit-big {
	    margin-bottom: 0px;
	}

	.blue-line-howwe-offering img{
		left: 97px;
	}
	h3.term-spectular {
	    top: -5px;
	    font-size: 48px;
	    padding-left: 123px;
	    letter-spacing: 1px;
	}
	h3.function-text-howe-ofering {
	    font-size: 48px;
	    padding-left: 122px;
	    letter-spacing: 2px;
	}
	.our-spectular-offering .blue-line-howwe-offering img {
	    top: -5px;
	    height: 74px;
	}
	section.our-spectular-offering .img-line-offering {
	    display: none;
	}
	.img-line-offering img {
	    margin-left: 300px;
	}
	.our-spectular-offering .how-we-descofering p {
	    padding-right: 0px;
	}
	section.our-journey-innovation .img-line-offering {
	    display: none;
	}
	.after-flip-data.spectuka-mob {
	    margin-left: 9%;
	    width: 96%;
	}
	.after-flip-data p {
	    font-size: 16px;
	    line-height: 1.3em;
	}
	.height-adjust.padd-left-moddile {
	       padding-left: 0;
	}
	section.our-journey-innovation .how-tit-big {
	    margin-bottom: 0px;
	}
	section.our-journey-innovation .dowwe-col-spectacular img {
	    left: 30px;
	}
	section.our-journey-innovation img.mobile-cion-hide-resp {
	    display: none;
	}
img.who-icon-full.innovation {
    top: 0px;
    width: 10%;
}
	section.our-journey-innovation .for-height-inovation {
	    left: 62px;
	    top: 0px;
	    height: 80px;
	}
	section.our-journey-innovation h3.function-text-howe-ofering {
	    letter-spacing: 1px;
	    padding-left: 75px;
	}
	section.our-journey-innovation h3.term-spectular {
	    padding-left: 80px;
	}
	section.our-journey-innovation .how-we-descofering p {
	    padding-left: 42px;
	    width: 85%;
	}
	ul.crousel-thimnail {
	    margin-bottom: 0;
	}
	ul.crousel-thimnail li {
	    width: 50px;
	    height: 50px;
	}
	a.prev-slider {
	    padding-left: 10px;
	    padding-bottom: 0px;
	}
	a.next-slider{
		    padding-left: 36px;
	}
	.carousel-inner.left-side-big .item img {
	    height: 330px;
	    object-fit: contain;
	}

	.slider-year-desc {
	    padding-top: 0px;
	}
	.slider-year-desc p{
		padding-left: 10px;
	}
	section.our-journey-innovation{
		padding-bottom: 10px;
	}
	span.iocn-blue-lets {
	    left: 70px;
	    top: 56px;
	}
	.contact-form-left .form-group textarea {
	    margin-top: 25px;
	    height: 150px;
	}
	ul.captcha-two li .form-group .form-control{
		    width: 100%!important;
	}
	.col-lg-5.col-md-5.three-block {
	    margin-bottom: 0px;
	}
	
	section.lets-acquainted {
	    padding-bottom: 20px;
	}
	.btn-submit-form {
	    margin-top: 10px;
	}
	.col-lg-3.col-md-3.three-block {
	    margin-top: 50px;
	}
	h2.footer-data {
	    font-size: 17px;
	        margin-bottom: 30px;
	}
	h5.foot-small-tit {
    	font-size: 16px;
    	    padding-bottom: 0px;
	}
	ul.links-footeers li {
	    padding-right: 30px;
	}
	ul.links-footeers li:last-child{
		padding-right: 0px;
	}
	ul.links-footeers li a h3 {
	    color: #212529;
	    font-size: 20px;
	}
	ul.links-last-foot {
	    padding-left: 0px;
	    flex-wrap: wrap;
	}
	ul.links-last-foot li{
		/*width: 100%;
   		left: 20px;*/
	    width: 90%;
		left: -10px;
	}
	ul.links-last-foot li h3 {
	    text-align: left;
	}
	.chan-center {
	     justify-content: left;
	    padding-left: 0px;
	}
	ul.links-last-foot li {
	    border-right: 0px solid #ddd;
	}
	.pos-icon-plus-cont {
	    left: 0;
	}
	ul.links-last-foot li .blue-plus {
	   text-align: left;
	}
	ul.links-last-foot li i {
	    margin-bottom: 10px;
	}
	.pos-icon-plus-pri {
	    left: 0;
	}
	ul.links-last-foot li .orange-plus {
	    text-align: left;
	}
	.pos-icon-plus-cond {
	    left: 0;
	}
	ul.links-last-foot li .green-plus {
  	 text-align: left;
  	}
  	.lets-acquainted-img img {
	    width: 90%;
	}
	section.testimonial {
	   height: 60vh!important;
	}
	a.next-slider {
		top: 12px!important;
	}
}

@media(max-width:430px){
	img.who-icon-full {
    position: absolute;
    top: 128px;
       right: 42px;
    width: 8%;
}
img.who-icon-full.prop {
    position: absolute;
    top: 210px;
    right: 42px;
    width: 8%;
}
img.who-icon-full.howfar {
    position: absolute;
    top: 210px;
    right: 42px;
    width: 10%;
}
img.who-icon-full.spectular {
  /*  position: absolute;
    top: 210px;
    right: 42px;
    width: 10%;*/
        position: absolute;
    top: -50px;
    height: auto;
}
img.img-responsive.mobile-cion-hide-resp {
    display: none;
}
img.spectIcon.mobile-cion-hide-resp {
    display: none;
}
	section.landing-banner {
	    height: 55vh!important;
	}
	.dot-container {
    	left: 70%!important;
	}
	h1.who-term{
		 padding-left: 10px;
	    font-size: 14rem;
	    letter-spacing: 0px;
	}
	h3.term-we-are{
		   
    padding-left: 56px;
    letter-spacing: 0px;
	}
	.blue-line {
	    padding-left: 83.5%;
	    top: -143px;
	}
	p.whoweare-blue {
    	padding-top: 0px;
	}
	h1.how-big {
	    font-size: 15rem;
	}
	h3.term-do-we {
	    padding-left: 42px;
	    font-size: 44px;
	}
	span.edique-icon.position-change img {
	    left: 120px;
	}
	h3.function-text-howe {
	    padding-left: 48px;
	    font-size: 43px;
	}
	.blue-line-howwe img {
	    top: 155%;
	    height: 70px;
	}
	h4.serial-no {
	    padding: 20px 0px;
	}

	.flip-box-front img.value-pro-img {
	    object-fit: fill;
	    height: 580px;
	}
	.flip-box-back .flip-img img {
	    object-fit: fill;
	    width: 100%;
	    height: 580px;
	}
	.after-flip-data {
	    top: 20px;
	}
	img.plus-icon-values {
	    width: 25px!important;
	}
	.after-flip-data p {
	   line-height: 1.4em;
	}
	section.howfar-come-along h3.function-text-howe.text-white{
		letter-spacing: 0px;
	}
	h3.term-do-we.text-white{
		letter-spacing: 0px;
	}
	.blue-line-howwe.imgclassforwhiteline .white-rightafter-text {
	    left: 94%;
	    height: 90px;
	    top: 20%;
	}
	.acheive-img {
	    width: 50%;
	}
	.acheive-imgleft {
	    width: 50%;
	}
	p.number-counter {
	    font-size: 29px;
	}
	p.counter-for {
	    font-size: 26px;
	}
	.acheive-counter {
	    height: 200px;
	}
	.col-lg-12.col-md-12.no-of-school-popu {
	    height: 225px;
	}
	.our-spectular-offering .blue-line-howwe-offering img{
		left: 92px;
	}
	h3.term-spectular {
	    font-size: 45px;
	}
	h3.function-text-howe-ofering {
	    font-size: 45px;
	}
	.our-spectular-offering .how-we-descofering p {
	    padding-right: 3px;
	    padding-left: 65px;
	        width: 97%;
	}
	/*.flip-box-front img {
	    object-fit: fill;
	    height: 590px;
	}*/
	img.plus-icon-values {
	    width: 25px!important;
	}
	img.front-mob-height {
	    object-fit: fill;
	    height: 600px;
	}
	.flip-img.back-img-mob img {
	    object-fit: fill;
	       height: 620px;
	}
	.flip-front-text-links h4 {
	    font-size: 20px;
	}
	.flip-front-text-links {
	    bottom: 80px;
	}
	ul.crousel-thimnail li {
	    width: 45px;
	    height: 46px;
	    margin-top: 5px;
	    margin-bottom: 7px;
	}
	.row.third-row-footer.footer-links-last {
	    padding-top: 10px;
	}
	a.next-slider {
	    padding-left: 32px;
	}
	.carousel-inner.left-side-big .item img {
	    height: 310px;
	}
	.dowwe-col-spectacular img {
	      left: 15.5%;
	}
	.lets-acquainted-img{
		    width: 100%;
	}
	ul.captcha-two li .form-group .form-control {
	    width: 95%;
	    margin-left: 1px;
        font-size: 14px;
        padding-left: 13px;
	}
	section.lets-acquainted .how-tit-big {
	    margin-bottom: 10px;
	}
	h5.foot-small-tit{
		line-height: 1.6em;
	}
	section.testimonial {
	    padding-bottom: 200px;
	    height: 80vh!important;
	    background-size: cover!important;
	    background-position: center!important;
	}
	.carousel-inner.left-side-big {
	    width: 100%;
	}
	.thumbnals-img-slider {
	    width: 100%;
	}
	/*.thumbnals-img-slider {
	    display: none;
	}*/
	ul.crousel-thimnail li{
		display: none;
	}
	i.fa.fa-angle-up.blue-prev-next {
	    transform: rotate(-89deg);
	    position: absolute;
	    top: 130px;
	    left: -30px;
	}
	i.fa.fa-angle-down.blue-prev-next {
	    transform: rotate(-93deg);
	    position: absolute;
	    top: 126px;
	    right: -25px;
	}
	/*FOr orange color slider icon*/
	i.fa.fa-angle-up.orange-prev-next {
	    transform: rotate(-89deg);
	    position: absolute;
	    top: 130px;
	    left: -30px;
	}
	i.fa.fa-angle-down.orange-prev-next {
	    transform: rotate(-93deg);
	    position: absolute;
	    top: 126px;
	    right: -25px;
	}
	/*for green color slider icon*/
	a.prev-slider i.fa.fa-angle-up {
	    transform: rotate(-89deg);
	    position: absolute;
	    top: 130px;
	    left: -30px;
	}
	a.next-slider i.fa.fa-angle-down {
	    transform: rotate(-93deg);
	    position: absolute;
	    top: 126px;
	    right: -25px;
	}
	section.testimonial {
	   height: 60vh!important;
	}
	section.how-dofuction-sec {
   	position: relative;
/*    top: -66px;*/
	/*top: -96px;*/
	    top: -76px;
	}
}
@media(max-width: 380px){
	.row.whowe-secound-top p.whoweare-blue{
		    padding-top: 47px;
	}
	section.landing-banner {
	    height: 50vh!important;
	}
	ul.custom-menu-ul {
	    padding-left: 13px;
	}
	.mySlides{
		padding-right: 10px;
	}
	.mySlides q {
	    font-size: 22px;
	}
	.dot-container {
	    left: 75%;
	    top: 20px;
	}
	h3.term-we-are {
	    top: -42px;
	    font-size: 59px;
	}
	.sidenav-custom a{
		    line-height: 1em;
	}
	.sidenav-custom {
	    height: 270px;
	}
	section.landing-banner {
	    height: 46vh!important;
	}
	img.logo-edique {
	    top: -22px;
	}
	.blue-line {
	    top: -126px;
	}
	h3.term-do-we{
		letter-spacing: 1px;
	}
	h3.function-text-howe{
		letter-spacing: 1px;
		    font-size: 41px;
	}
	h1.how-big {
	    font-size: 14rem;
	}
	span.edique-icon.position-change img {
	    left: 95px;
	        width: 44px
	}
	.design-margin-left {
	    margin-left: 0%;
	}
	.design-margin-right {
	    margin-left: 0%;
	}
	.flip-box{
		width: 100%;
	}
	h3.term-do-we.text-white {
	    font-size: 38px;
	   	padding-left: 38px;
	}
	section.howfar-come-along h3.function-text-howe.text-white {
	       padding-left: 40px;
	}
	h3.function-text-howe {
	    font-size: 38px;
	}
	section.howfar-come-along span.edique-icon img {
	    width: 43px;
	}
	.blue-line-howwe.imgclassforwhiteline .white-rightafter-text {
	    height: 68px;
	    top: 22%;
	}
	p.number-counter {
	    font-size: 26px;
	}
	p.counter-for {
	    font-size: 24px;
	}
	.col-lg-12.col-md-12.no-of-school-popu {
	    height: 200px;
	}
	.col-lg-12.col-md-12.no-of-school-popu.center-counter {
	    padding-top: 22px;
	}
	h3.term-spectular {
	    font-size: 39px;
	    padding-left: 110px;
	}
	h3.function-text-howe-ofering {
	    font-size: 39px;
	    padding-left: 110px;
	}
	.dowwe-col-spectacular img {
	    width: 42px;
	}
	.our-spectular-offering .blue-line-howwe-offering img {
	    left: 83px!important;
	}
	.our-spectular-offering .how-we-descofering p {
	     padding-left: 15px;
	}

	section.our-journey-innovation .for-height-inovation {
	    left: 56px;
	    height: 65px;
	}
	section.our-journey-innovation .how-we-descofering p {
	    padding-left: 38px;
	    width: 100%;
	}
	.carousel-inner.left-side-big .item img {
	    height: 260px;
	    object-fit: contain;
	}
	ul.crousel-thimnail li {
	    width: 40px;
	    height: 40px;
	}
	a.next-slider {
	     padding-left: 31px;
	}
	a.prev-slider i {
	    font-size: 32px;
	}
	a.next-slider i {
	    font-size: 32px;
	}
	.slider-year-desc p {
	    font-size: 14px;
	}
	span.iocn-blue-lets {
	    left: 57px;
	}
	ul.captcha-two{
		display: block;
	}
	ul.captcha-two li {
	    width: 100%;
	   padding-bottom: 20px;
	}
	ul.captcha-two li:last-child{
		padding-bottom: 0px;
	}
	.col-lg-5.col-md-5.three-block {
	    width: 100%;
	}
	.col-lg-5.col-md-5.three-block {
	    margin-bottom: 20px;
	}
	.col-lg-3.col-md-3.three-block {
	    margin-top: 30px;
	}
	h2.footer-data {
	    display: block;
	}
	section.footer-box {
	    padding: 40px 0px;
	    padding-bottom: 0px;
	}
	h5.copy-message {
	    line-height: 1.4em;
	    text-align: center;
	}
	.row.secound-row-footer {
	    padding: 20px 0px;
	}
	a.prev-slider i.fa.fa-angle-up {
	    left: -17px;
	}
	a.next-slider i.fa.fa-angle-down {
	    right: -13px;
	}
	.item.active {
	    background: #fff;
	}
	.col-lg-12.how-tit-big{
		    padding-top: 40px;
	}
}
@media(max-width: 320px){
	.sidenav-custom a {
	    font-size: 14px;
	}
	.dot-container {
	    left: 88%;
	    top: 0px;
	}
	.mySlides q {
	    font-size: 21px;
	}
	.testimonial {
    	height: 68vh!important;
    	background-size: cover!important;
    	background-position: center!important;
	}
	h1.who-term {
        font-size: 11.5rem;
	}
	h3.term-we-are {
	    font-size: 53px;
	    padding-left: 46px;
	}
	span.edique-icon img {
    	width: 44px;
	}
	.blue-line {
	    padding-left: 86.5%;
	}
	.sidenav-custom {
	    height: 290px;
	}
	.whoweare-text-left-secound {
	     padding: 0 15px;
	    padding-left: 20px;
	}
	p.whoweare-blue {
	    font-size: 20px;
	}
	p.whowearetext {
	    font-size: 20px;
	}
	h1.how-big {
	    font-size: 11.5rem;
	}
	.dowwe-col {
	    padding-top: 20px;
	}
	h3.term-do-we {
	    padding-left: 25px;
	    font-size: 37px;
	}
	.blue-line-howwe {
	    top: -135px;
	}
	h3.function-text-howe {
	    font-size: 33px;
	}
	.blue-line-howwe img {
	    top: 200%;
	    left: 86%;
	}
	.how-we-desc p {
	    width: 90%;
	}
	.img-line {
	    display: none;
	}
	img.globe-white-line {
	    display: none;
	}
	.after-flip-data p {
	    padding-top: 60px;
	}
	h3.term-do-we.text-white {
	    padding-left: 18px;
	}
	section.howfar-come-along h3.function-text-howe.text-white {
	    padding-left: 20px;
	}
	section.howfar-come-along span.edique-icon img {
	    left: 85%;
	}
	.blue-line-howwe.imgclassforwhiteline .white-rightafter-text {
	    left: 90%;
	     top: 20%;
	}
	section.howfar-come-along p.how-we-desc {
        padding-left: 16px;
        width: 100%;
	}
	.col-lg-12.col-md-12.no-of-school-popu {
	    height: auto;
	}
	.acheive-img {
	    width: 100%;
	}
	.acheive-counter {
	    width: 100%;
	}
	.height-adjust {
	   font-size: 35px;
	    padding-left: 0px;
	    width: 100%;
	    text-align: center;
	}
	.acheive-counterright {
	    width: 100%;
	        display: none;
	}
	.acheive-imgleft {
	    width: 100%;
	}
	.acheive-counterright.for-mob-text {
	    display: block!important;
	        padding-top: 30px;
	}
	.dowwe-col-spectacular img {
	    left: 5%;
	}
	h3.term-spectular {
	    font-size: 35px;
	    padding-left: 58px;
	    padding-top: 5px;
	}
	.our-spectular-offering .blue-line-howwe-offering img {
	    left: 45px;
	}
	h3.function-text-howe-ofering {
	    font-size: 34px;
	    padding-left: 60px;
	}
	.our-spectular-offering .blue-line-howwe-offering img {
	    height: 58px;
	}
	.flip-front-text-links h4 {
	    font-size: 24px;
	    line-height: 1.4em;
	}
	h3.term-spectular {
	    font-size: 30px;
	}
	h3.function-text-howe-ofering {
	    font-size: 30px;
	}
	section.our-journey-innovation .for-height-inovation {
	    height: 50px;
	}
	.slider-year-desc {
	    padding-right: 0;
	}
	ul.crousel-thimnail li {
	    width: 30px;
	    height: 35px;
	}
	.carousel-inner.left-side-big .item img {
	    height: 230px;
	}
	span.iocn-blue-lets {
	    left: 17px;
	}
	.lets-acquainted-img{
		    padding-bottom: 30px;
	}
	span.iocn-blue-lets img {
	    width: 12px;
	    height: 60px;
	}
	.form-group i.fa.fa-angle-down {
	    right: 31px;
	    font-size: 23px;
	    padding-top: 6px;
	}
	.contact-form-left .form-group .form-control {
	    border-radius: 10px;
	}
	ul.links-footeers li a h3 {
	    font-size: 17px;
	}
	ul.links-footeers li {
	    padding-right: 20px;
	}
	img.who-icon-full {
	    position: absolute;
	    top: 90px;
	}
}


/*for header mob-responisve*/
@media(max-width:991px){
.hide-form-mob-menu {
    display: none!important;
}
.mob-humburger {

	display: block!important;
    width: 100%;
    padding-top: 7px;
    background: #fff;
    border-radius: 0px;
    height: 60px;
    position: fixed!important;
    top: 0px;
    left: 0px;
    box-shadow: 2px 3px 5px #e7e7e7b3;
  /*  display: block!important;
    width: 100%;
    padding-top: 7px;
    background: #fff;
    border-radius: 10px;
    height: 60px;
    position: relative;
    top: 10px;*/
      /* display: block!important;
    width: 94%;
    padding-top: 7px;
    background: #fff;
    border-radius: 10px;
    margin: 0 auto;
    position: fixed;
      height: 53px;
    z-index: 9;
        box-shadow: -1px 1px 6px #ddd;*/
}

.logo-boxfor-mob {
    width: 40%;
    float: left;
}
img.logo-edique-mobile {
     width: 45%;
    padding-left: 8px;
    margin-top: 3px;
}
.menu-open-area {
    width: 60%;
    float: right;
}
.menu-open-area span {
   position: absolute;
    background: #156aa81c;
    color: #156aa8;
    right: 15px;
    top: 15px;
    padding: 7px 19px;
    border-radius: 5px;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;

   right: 0;
     background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align:center;
}

.sidenav a {
    padding: 8px 8px 30px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #156aa8;
  display: block;
  transition: 0.3s;
      text-align: left;
          text-transform: uppercase;

}

.sidenav a:hover{
  color: #f1f1f1;
}

.sidenav .closebtn {
   	position: absolute;
	top: 25px;
    right: 23px;
    font-size: 14px;
    margin-left: 0px;
    padding: 7px 19px;
    background: #156aa81c;
    color: #156aa8;
    border-radius: 5px;
    letter-spacing: 1px;
}
.copywrite-text p {
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
}
.social-icons-mob {
    display: flex;
     justify-content: flex-start;
    margin-top: 30px;
    margin-left: 20px;
}
.social-icons-mob a {
    padding: 0px;
    padding-right: 21px;
}
.social-icons-mob a img {
    width: 30px;
}
.col-lg-12.mob-menu-footer {
position: absolute;
    bottom: 10px;
    border-top: 1px solid #ddd;
    padding-top: 18px;
    width: 100%;
    z-index: 9;
}
}


@media(max-width: 768px){
	img.logo-edique-mobile {
    width: 50%;
    margin-top: 4px;
}
.sidenav .closebtn {
   right: 30px;
    font-size: 14px;
        border-radius: 5px;
}
}
@media(max-width:480px){
	img.who-icon-whowe{
		display: none!important;
	}
	img.logo-edique-mobile {
			width: 78%;
		    padding-left: 4px;
		    margin-top: 5px;
	}
.menu-open-area span{
    right: 15px;
    top: 13px;
}
.mob-humburger{
	    height: 58px;
	  display: block!important;
    width: 100%;
    padding-top: 7px;
    background: #fff;
    border-radius: 0px;
  /*  height: 60px;*/
    position: fixed!important;
    top: 0px;
    left: 0px;
    box-shadow: 2px 3px 5px #e7e7e7b3;
    z-index: 1;
}
.sidenav .closebtn{
	    top: 15px;
	        letter-spacing: 1px;
}
span#cap_error {
    font-size: 16px!important;
}
.form-group.capctic-input-here {
    position: relative;
    left: 144%;
    top: -31px;
       width: 240px;
}
span#cap_error {
    position: absolute;
    padding-left: 0;
    left: 10px;
    top: 35px;
}
i#check {
    text-align: left;
    margin-left: 8px;
}
p.whowearetext{
	position: initial;
	padding-right: 20px;
}
.blue-line-howwe img {
    left: 84.6%;
        top: 195%;
    height: 80px;
}
.how-we-desc p {
    margin-top: 0;
    width: 80%;
    margin-left: 59px;
}
img.img-responsive.value-pro-img{
	    width: 100%!important;
    height: 500px!important;
}
h4.serial-no {
    padding: 10px 0px;
}
.how-we-descofering p{
	margin-top: 21px;
    padding-right: 0px!important;
    padding-left: 70px!important;
}
div#productSection .flip-box-front img{
	width: 100%;
    height: 490px;
}

.flip-front-text-links {
    /*bottom: 70px;*/
        bottom: 90px;
}
.flip-front-text-links img {
    display: none!important;
}
.flip-front-text-links img {
    width: 24px!important;
    height: auto!important;
}
.contact-us-form {
    padding-top: 240px;
}
.lets-acquainted-img {
    position: absolute;
    width: 40%;
    right: 140px;
    padding-top: 20px;
}
.btn-submit-form {
    margin-top: 50px;
}
.slider-year-desc {
    padding-top: 10px;
    position: absolute;
    top: -10px;
       color: #7f7575;
    width: 100%;
    padding-left: 0px;
}
.carousel-inner.left-side-big{
	    height: 330px!important;
}
.carousel-inner.left-side-big .item img {
   height: 450px!important;
}
a.next-slider{
	right: -24px!important;
    top: 311px!important;
}
ul.crousel-thimnail li {
    height: 40px!important;
}
.prev, .next{
	      font-size: 24px!important;
  /*  margin-top: 14px!important;*/
      margin-top: 145px!important;
}
.prev {
 left: 28px!important;
}
.next {
    right: 24px!important;
}
.next i {
    position: absolute;
    top: 10px;
}
.prev i {
      position: absolute;
    top: 10px;
    left: -20px;
}
.active.blue-border {
    border: 3px solid #156aa8;
}
a.prev-slider{
	right: 6px;
    top: -2px
}
a.next-slider {
    padding-left: 6px!important;
        right: 2px!important;
    top: -3px!important;
}
.row.year-orange{
	     margin-left: 20px;
    margin-right: 0px;
}
.row.year-blue{
	     margin-left: 20px;
    margin-right: 0px;
}
.row.year-green{
    margin-left: 20px;
    margin-right: 0px;
}
.flip-img.flup-width img {
   height: 510px!important;
}
img.globe-white-line {
    height: 85px;
}
.after-flip-data p {
    font-size: 14px;
}
section.our-journey-innovation {
    padding-bottom: 80px;
}
.prev-slider-next{
	    top: 295px;
}
ul.crousel-thimnail li {
    height: 50px!important;
}

.contact-form-left .form-group .form-control{
	border-radius: 25px;
}
.after-flip-data.margin-top-flipppp {
    top: 30px!important;
}
.margin-top-flip-tosecound .after-flip-data {
    top: 30px;
}


  section.our-journey-innovation {
    padding-bottom: 30px;
}
.col-lg-12.how-we-descofering {
    padding-bottom: 30px;
}

.prev-slider-next {
    top: -168px!important;
}
.prev, .next {
   margin-top: 145px!important;
}
}

@media(max-width: 430px){
	img.who-icon-whowe.far-postioniocn {
    display: inline-block!important;
    width: 33px;
    left: 72%;
    top: 8px;
}
img.who-icon-full.spect-icon-white {
    width: 40px;
    left: 15%!important;
}
img.who-icon-full.journey-icon-white {
    width: 40px;
    left: 8%!important;
}
	.copywrite-text p{
	    width: 88%;
		margin: 0 auto;
	}
	img.logo-edique-mobile {
	    width: 88%;
	}
	.menu-open-area span {
	    top: 12px;
	        right: 12px;
	}
	h5.copy-message {
	    width: 85%;
	    margin: 0 auto;
	}
	div#productSection .row.function-row {
	    padding-top: 0;
	}
.form-group.capctic-input-here {
 /*   position: relative;
    left: 174%;
    top: -30px;
    width: 180px;*/
    position: absolute;
    left: 174%;
    top: 39px;
    width: 49%;
}
ul.captcha-two li span {
   position: absolute;
}
ul.captcha-two{
	    height: 110px;
}
.blue-line-howwe img {
    left: 82.9%;
  /*  top: 201%;*/
      top: 215%;
    height: 70px;
}
.flip-box-inner{
	    width: 80%;
    margin: 0 auto;
}
section#solutionSection .flip-box {
    margin-left: 0px;
}
ul.crousel-thimnail li {
    display: inline-block;
}
a.prev-slider {
  padding-left: 10px;
      top: 10px;
}
a.next-slider{
	     top: 10px!important;
}
.carousel-inner.left-side-big {
    height: 330px!important;
}
a.next-slider i {
    font-size: 33px;
}
a.prev-slider i {
    font-size: 33px;
}
.blue-line-howwe.imgclassforwhiteline .white-rightafter-text {
    left: 84.5%!important;
    height: 70px;
    top: 36%;
}
.our-spectular-offering .blue-line-howwe-offering img {
   /* left: 97px;*/
/*   left: 95px;*/
    left: 75px;
}
.flip-box-back .flip-img img {
    object-fit: fill;
    width: 100%;
    height: 510px;
}
.back-480 .white-globe-line .globe-white-line {
    top: -7px;
    left: -2px;
}
img.plus-icon-values {
    display: inline-block;
}
.form-group.capctic-input-here {
    position: absolute;
    left: 46%;
}
.tit-pos h1 {
    margin-bottom: 0px!important;
}
.tit-pos {
    position: relative;
    display: flex;
}
.after-flip-data.margin-top-flipppp {
    top: 39px!important;
}
}
@media(max-width:415px){
	.menu-open-area span {
	    right: 14px!important;
	      top: 13px;
	}
	.copywrite-text p {
	    width: 90%;
	    margin: 0 auto;
	}
	section.landing-banner {
	    height: 45vh!important;
	}
	.blue-line-howwe img {
 /*   left: 86%;*/
        left: 85.5%;
    top: 99px;
}
.form-group.capctic-input-here {
    left: 44%;
}
.btn-submit-form {
    margin-top: 40px;
}
.blue-line {
    padding-left: 85.5%;
    top: -143px;
}
img.who-icon-full.prop{
	    top: 199px;
}
section.how-dofuction-sec{
	    top: 0px;
}

}


@media(max-width:380px){
	img.logo-edique-mobile {
	    width: 100%;
	}
	.sidenav .closebtn {
	    top: 22px;
	}
	ul.captcha-two {
    height: 80px;
}
.flip-box-inner {
    width: 100%;
}
.blue-line-howwe.imgclassforwhiteline .white-rightafter-text{
	    top: 34%;
}
#scroll {
    position: fixed;
    right: 23px;
}
h1.how-big.small-ofnt {
    font-size: 149px;
}
h3.term-spectular.get-acc-font {
    font-size: 42px;
}
.contact-form-left .form-group textarea {
    height: 164px!important;
}
ul.links-last-foot li .blue-plus{
	font-size: 30px;
}
ul.links-last-foot li .orange-plus{
		font-size: 30px;
}
ul.links-last-foot li .green-plus{
font-size: 30px;	
}
.row.third-row-footer.footer-links-last {
    padding-top: 10px;
    padding-left: 10px;
}
.slider-year-desc {
    padding-top: 10px;
    position: absolute;
    top: -9px;
}
.slider-year-desc p {
    padding-left: 0px;
    width: 100%;
    padding-right: 0px;
}
.row.year-blue {
   margin-left: 56px;
    margin-right: 53px;
}
.row.year-orange {
 margin-left: 56px;
    margin-right: 53px;
}
.row.year-green {
   margin-left: 56px;
    margin-right: 53px;
}
.next {
    right: -10px!important;
}
.next i {
  display: none;
}
.prev {
    left: -21px!important;
}
.prev i {
  display: none;
}
.lets-acquainted-img {
    position: absolute;
    width: 50%;
    right: 90px;
    padding-top: 30px;
}
section.our-journey-innovation .how-we-descofering p{
	margin-bottom: 30px;
}
.forMobPrev.mob2018{
	    padding-left: 11px!important;
}
.copywrite-text p {
    width: 90%;
    margin: 0 auto;
    font-size: 12px;
}
}

@media(max-width: 415px){
	div#whoweAre .blue-line {
    left: 0%!important;
}
}

@media(max-width: 360px){
	.copywrite-text p {
    width: 89%;
    margin: 0 auto;
    font-size: 12px;
}
	.row.whowe-secound-top p.whoweare-blue {
    padding-top: 80px;
}
	.menu-open-area span {
	    right: 13px;
	        letter-spacing: 1px;
	}
	p.know-more-down {
	    left: -240px;
	}
	.blue-line-howwe img {
	    left: 87%;
	    top: 180%;
	}
	.row.year-blue {
   margin-left: 56px;
    margin-right: 53px;
}
.row.year-orange {
 margin-left: 56px;
    margin-right: 53px;
}
.row.year-green {
   margin-left: 56px;
    margin-right: 53px;
}
.next {
    right: -10px!important;
}
.next i {
  display: none;
}
.prev {
    left: -21px!important;
}
.prev i {
  display: none;
}
.forMobPrev.mob2018{
	padding-left: 13px!important;
}
.forMobPrev.mob2018{
	    padding-left: 11px;
}

}

@media(max-width: 320px){
	.logo-boxfor-mob {
	    width: 46%;
}
.menu-open-area span {
	    top: 13px;
	}
	h1.how-big.small-ofnt {
	    font-size: 119px;
	}
}


@media(max-width: 480px){
	img.orangePlusIcon {
	    display: inline-block!important;
	}
	.after-flip-data.margin-top-flipppp.back-480 {
	    width: 70%!important;
	    margin-left: 19%!important;
	}
	.flip-img.back-profile480 img {
	    height: 500px!important;
	}
	.after-flip-data.back-text-mob {
    width: 70%;
    margin-left: 80px;
     top: 30px!important;
}
section.our-journey-innovation .how-we-descofering p{
	    padding-left: 10px!important;
}

.blue-line-howwe.imgclassforwhiteline .white-rightafter-text{
	    left: 84%!important;
}
section.howfar-come-along span.edique-icon img {
   left: 80%;
}
.carousel-inner.left-side-big {
    height: 350px!important;
}
.row.year-blue {
   margin-top: 26px;
}

}
@media(max-width: 427px){
	.after-flip-data.back-text-mob {
    width: 100%;
    margin-left: 20px;
      
}
.after-flip-data.margin-top-flipppp.back-480 {
    width: 96%!important;
    margin-left: 8%!important;
}
.carousel-inner.left-side-big {
    height: 330px!important;
}
.btn-submit-form {
    margin-top: 0;
}
.whoweare-text-left-secound {
    padding-left: 40px;
    padding-right: 10px;
}
div#year-secound .carousel-inner.left-side-big .item img {
    height: 390px!important;
}

div#year-secound .carousel-inner.left-side-big {
    height: 301px!important;
}
div#year-third .carousel-inner.left-side-big .item img {
    height: 407px!important;
}

div#year-third .carousel-inner.left-side-big {
    height: 307px!important;
}
a.next-slider {
    top: 13px!important;
}
a.prev-slider {
    top: 12px;
}
}
@media(max-width: 412px){
	.dot-container {
    left: 72%;
}
div#whoweareSection .blue-line {
    padding-left: 86%;
}
.blue-line-howwe img {
    left: 85.5%;
    top: 101px;
}
.blue-line-howwe.imgclassforwhiteline .white-rightafter-text{
	    top: 37%;
}
section.howfar-come-along span.edique-icon img{
	    left: 80%;

}
img.img-responsive.white-rightafter-text.howFarIconLine {
    left: 85%!important;
}
h3.term-spectular {
    font-size: 40px;
}
h3.function-text-howe-ofering {
    font-size: 42px;
}
.how-we-descofering p{
	    padding-left: 52px!important;
}
.form-group.capctic-input-here {
    left: 168%;
}
.btn-submit-form {
    margin-top: 0;
}
ul.links-last-foot {
    padding-left: 7px;
}

}



@media(max-width: 361px){
div#whoweareSection .blue-line {
    padding-left: 87%!important;
    top: -117px;
}
.dot-container {
    top: 0px;
        left: 76%;
}
.blue-line-howwe img {
   top: 242%!important;
   left: 86.5%;
}
/*img.globe-white-line {
    top: -8px;
    left: -4px;
}*/
p.whoweare-blue{
	text-align: left;
}
.after-flip-data.back-text-mob img.globe-white-line {
    left: -4px;
}
img.img-responsive.white-rightafter-text.howFarIconLine {
    top: 114px!important;
}
span.edique-icon.howFarIconGlobe img {
    left: 80%!important;
}
img.img-responsive.white-rightafter-text.howFarIconLine {
    top: 114px!important;
    left: 85.5%!important;
}
section.howfar-come-along p.how-we-desc{
	    padding-left: 29px;
}
h3.term-spectular {
    padding-left: 100px;
}
h3.function-text-howe-ofering{
	padding-left: 100px;
}
img.spectIcon {
    top: -5px;
}
section.our-journey-innovation h3.function-text-howe-ofering {
    letter-spacing: 1px;
    padding-left: 70px;
     font-size: 37px;
}
section.our-journey-innovation h3.term-spectular {
    padding-left: 71px;
}
.row.year-blue {
    margin-left: 5px;
    margin-right: 0px;
}
.row.year-orange{
	    margin-left: 5px;
    margin-right: 0px;
}
.row.year-green{
	  margin-left: 5px;
    margin-right: 0px;
}
a.next-slider {
    top: 11px!important;
}
a.prev-slider {
    padding-left: 10px;
    top: 13px;
}
span.iocn-blue-lets {
    left: 55px;
}
.form-group.capctic-input-here {
    left: 130px;
}
section.how-dofuction-sec span.edique-icon.position-change img {
    left: 81px;
}
}

@media(max-width: 376px){
	.form-group.capctic-input-here {
    left: 45%;
}
.dot-container {
    left: 78%!important;
}
div#whoweareSection .blue-line{
	/*padding-left: 87%;*/
	 padding-left: 85.8%!important;
	    top: -113px;
}
p.whoweare-blue {
   text-align: left;
}
.blue-line-howwe img {
    left: 83.4%;
}

.our-spectular-offering .blue-line-howwe-offering img {
/*    top: 0px;*/
    top: -49px;
    left: 60px!important;
}
section.how-dofuction-sec .blue-line-howwe img {
    left: 87%;
}
.how-we-desc p{
	    margin-left: 47px;
}
section.our-journey-innovation h3.function-text-howe-ofering{
	    font-size: 38px;
}
.dowwe-col-spectacular img{
	    top: 0px;
}
.row.year-blue {
    margin-left: 13px;
    margin-right: 0px;
}
.row.year-orange{
 	margin-left: 13px;
    margin-right: 0px;	
}
.row.year-green{
 	margin-left: 13px;
    margin-right: 0px;		
}
.prev {
    left: 2px!important;
}
a.next-slider {
    top: 12px!important;
}
a.prev-slider {
    top: 11px;
}
	div#whoweareSection .blue-line {
    padding-left: 83%!important;
}
section.how-dofuction-sec .blue-line-howwe img {
    left: 83%;
}
section.who-we-are .container {
  /*  min-height: 157vh;*/
    min-height: 137vh;
}
}

@media(max-width:320px){
	.form-group.capctic-input-here {
    left: 36%;
}
ul.captcha-two li .form-group .form-control{
	    width: 80%!important
}
h3.term-spectular {
    font-size: 32px;
}
h3.function-text-howe-ofering {
    font-size: 32px;
}
.dowwe-col-spectacular img {
    left: 50px;
}
.our-spectular-offering .blue-line-howwe-offering img{
	    left: 77px;
    top: 10px;
}
section.our-journey-innovation h3.function-text-howe-ofering {
    font-size: 31px;
}
span.iocn-blue-lets img {
    width: 12px;
    height: 60px;
    left: -3px;
}
h3.term-spectular.get-acc-font {
    font-size: 33px;
}

div#whoweareSection .blue-line {
    padding-left: 87%;
}
h3.function-text-howe {
    padding-left: 30px;
}
section.how-dofuction-sec .how-we-desc p {
    margin-left: 27px;
}
section.how-dofuction-sec .blue-line-howwe img {
    left: 86%;
        top: 264%!important;
}
}

@media(max-width:360px){
	div#whoweareSection .blue-line {
    padding-left: 85.8%!important;
}
.how-we-descofering p {
    padding-left: 62px!important;
}
p.number-counter {
    font-size: 22px;
}
p.counter-for {
    font-size: 23px;
}
.acheive-img.mt-top-img {
    margin-top: 25px;
}
.flip-img.flup-width img {
    height: 520px!important;
}
section.our-journey-innovation .how-we-descofering p {
    padding-left: 38px!important;
}

section.how-dofuction-sec{
	   /* top: -23px;*/
	 /*  top: -133px;*/
	 top: 0px;
}
.our-spectular-offering .blue-line-howwe-offering img {
    top: -50px;
    left: 69px!important;
}
img.who-icon-full.prop{
	    top: 160px;
}
}
/*For SLider Hide Show mob*/
@media(max-width:480px){
	.tab-hideShow {
    display: block!important;
}
.tab-content.mobileSLider {
    display: inline-block!important;
    width: 100%;
}
.sliderMObHide {
    display: none;
}	
.mobSliderTabs li {
    width: 33%;
}
.mobSliderTabs li a {
    margin-right: -2px;
    text-align: center;
}
/*div#slider2018 .row.year-orange {
    width: 76%!important;
}

#slider2017 .row.year-blue {
width: 76%!important;	
}*/

.prev, .next{
	 top: 15px;
	 /*    background: #ddd;*/
	     opacity: 0.5;
}
a#Ninteen {
    left: 50%;
}

a#seventenRight {
    margin-left: -58px;
}
.webpreve-show {
    display: none;
}
.mobprev-show{
	display: block!important;
	    height: 40px;
}
.forMobPrev.mob2017 {
    /*border-right: 1px solid #595959;*/
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 22px;
       /* font-size: 20px!important;*/
}
.forMobPrev.mob2018 {
      position: relative;
    left: 24px;
   /* border-right: 1px solid #595959;*/
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 25px;
    padding-left: 32px;
       /* font-size: 20px!important;*/
}
.forMobPrev.mob2019 {
    position: relative;
    left: 13%!important;
       /* font-size: 20px!important;*/
}
section.lets-acquainted .how-tit-big h1.how-big.small-ofnt {
    font-size: 144px;
}
  div#whoweareSection span.edique-icon img {
    left: 99px!important;
}
ul.links-last-foot li{
      margin-bottom: 15px!important;
}
section.footer-box{
  padding-left: 10px!important;
}
.dot-container {
    left: 68%;
}
div#whoweareSection span.edique-icon img {
    left: 57px!important;
}

}

@media(max-width: 412px){
	.flip-img.flup-width img {
      height: 510px!important;
    object-fit: fill!important;
}
/*.dot-container {
    left: 68%!important;
}*/


}

@media(max-width:320px){
	div#whoweareSection span.edique-icon img {
    left: 34px!important;
}
.row.whowe-secound-top p.whoweare-blue{
	    padding-right: 14px!important;
    font-size: 18px;
}
section.how-dofuction-sec span.edique-icon.position-change img {
    left: 94px;
}
.dot-container {
    left: 86%!important;
}
.forMobPrev.mob2018{
	    left: -16px;
}
.forMobPrev.mob2019 {
       left: -10%!important;
    top: 14px;
}
}


